@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

/*Settings*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 1440px;
    margin: 0 auto;
}

/*Header*/
.header-first_text{
    position: relative;
    height: 29px;

    text-align: center;
    align-items: center;

    background: #000;
    color: #fff;
}

.header-first_text p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.header-wrap{
    position: relative;

    display: flex;
    justify-content: space-between;

    padding: 20px;

}

.header-nav{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-40%) translateY(-50%);
}

.header-wrap .header-nav ul{
    margin-right: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 735px;
}

.header-wrap .header-nav ul li a{
    text-transform: uppercase;

    font-size: 14px;
    font-weight: 500;

    color: #000000;
}

.header-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}