@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

/*Settings*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

/*Header*/
.header-first_text{
    position: relative;
    height: 29px;

    text-align: center;
    align-items: center;

    background: #000;
    color: #fff;
}

.header-first_text p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.header-wrap{
    position: relative;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 20px;

}

.header-nav{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-40%) translateY(-50%);
}

.header-wrap .header-nav ul{
    margin-right: 100px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 735px;
}

.header-wrap .header-nav ul li a{
    text-transform: uppercase;

    font-size: 14px;
    font-weight: 500;

    transition: 0.2s ease;

    color: #1d1d1d;
}

.header-wrap .header-nav ul li a:hover{
    display: block;
    transform: scale(1.05);
    color: #1D1D1DFF;
}

.header-wrap .header-nav ul li a:active{
    transform: scale(0.95);
}
.header-profile div svg{
    transition: 0.2s;
}

.header-profile div svg:hover{
    transform: scale(1.4);
}

.header-profile div svg:active{
    transform: scale(0.9);
}

.header-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


/*Banner*/
.banner-wrap{
    height: 800px;

    background: url("../img/section_banner/background.png");
}

.banner-content{
    padding-top: 60px;

    text-align: center;
}

.banner-content h1{
    margin-bottom: 24px;

    font-size: 44px;
    font-weight: 400;
}

.banner-content p{
    margin-bottom: 24px;

    font-size: 15px;
    font-weight: 400;
}

.banner-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-btn{
    /*max-width: 201px;*/
    padding: 10px 50px;
    border-radius: 35px;
    transition: 0.2s;

    background-color: #FF4A32;
    color: #ffffff;
}

.banner-btns a:hover{
    display: block;
    background-color: #c73728;
    transform: scale(1.05);
}

.banner-btns a:active{
    transform: scale(0.95);
}

.banner-btn:nth-child(2){
    margin-left: 12px;
    padding: 10px 37px;
}

.banner-footer{
    height: 83px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #000000;
}